<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>project1</title>
<link href = "./css/style.css" th:href="@{./css/style.css}" rel="stylesheet" />
<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="page">
    <div th:include="./commons/header.html::header"></div>
    <!--<header th:fragment="header">-->
    <!--</header>-->
      <main>
        <h3>ログインフォーム</h3>

        <!-- リクエストパラメータにerrorが含まれる場合は、エラーメッセージを表示する -->
        <p th:if="${param.error}">
          Error!
        </p>
        <div th:with="page=${page}">
          <form th:action="@{./login/index}" method="POST" name="page" th:value="${page}">
          <input type="hidden" name="page" value="/index">
            <!--<input type="hidden" name="page" th:value=page>-->
            <span th:text="${page}"></span>
            <table>
              <tr>
                <td><label for="username">User:</label></td>
                <td><input type="text" id="username" name="username" placeholder="メールアドレス"/></td>
              </tr>
              <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password" placeholder="パスワード"/></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><button type="submit">ログイン</button></td>
              </tr>
            </table>
          </form>
        </div>
      </main>
    <!--<footer th:fragment="footer">-->
    <div th:replace="./commons/footer.html::footer"></div>
    <!--</footer>-->
  </div>
</body>
</html>