<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:math="http://www.w3.org/1998/Math/MathML"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <!--/* 必ず読み込むファイル */-->
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
  <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="common/js/jquery.bxslider/jquery.bxslider.css">
  <link href = "./css/style.css" th:href="@{./css/style.css}" rel="stylesheet" />
  <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</head>
<body>
  <div id="page">
    <div th:include="./commons/header.html::header"></div>
     <form th:action="@{./login_radix_conversion}" method="get" sec:authorize="isAnonymous()" th:with="page=${#request.queryString}">
     <!--<input type="hidden" name="page" th:value="${page}">-->
     <!--<input type="hidden" name="page" value="${#request.requestURI}">-->
     <button>ログイン</button>
    </form>
    <h1>
      基数変換
    </h1>
    <p>
      &nbsp;n進数には<b>基数</b>という概念があります。<br>
      2進数なら2、8進数なら8です。<br>
      それと<b>重み</b>という概念も重要です。<br>
      1桁目が2の0乗で1、2桁目が2の1乗で2、3桁目が2の2乗で4、<br>
      重みとは、&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;↑のことです。2進数の場合は1、<br>
      ちなみに、8進数は3ビット分、16進数は4ビット分を1桁で表すことができます。
      2桁目が2、3桁目が4です。重みの求め方は「2<sup>桁数-1</sup>」です。<br>
      <br>
    <p>
      &nbsp;基数変換には重みを使う方法と、割り算と掛け算を使う方法があります。<br>
      基数変換の具体例は↓です。理解してください。
    </p>
      <table class="radix_conversion">
        <thead>
          <tr>
            <th colspan="10" class="top">
              10進数→2進数(重みを使う方法)
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              10進数
            </th>
            <td>
              13.375
            </td>
            <td>
              5.375
            </td>
            <td>
              1.375
            </td>
            <td>
              1.375
            </td>
            <td>
            </td>
            <td>
              0.375
            </td>
            <td>
              0.375
            </td>
            <td>
              0.125
            </td>
            <td>
              0
            </td>
          </tr>
          <tr>
            <th>
              各桁の重み
            </th>
            <td>
              8
            </td>
            <td>
              4
            </td>
            <td>
              2
            </td>
            <td>
              1
            </td>
            <td>
            </td>
            <td>
              1/2<br>
              (0.5)
            </td>
            <td>
              1/4<br>
              (0.25)
            </td>
            <td>
              1/8<br>
              (0.125)
            </td>
            <td>
            </td>
            <tr>
              <th>
                2進数
              </th>
              <td>
                1
              </td>
              <td>
                1
              </td>
              <td>
                0
              </td>
              <td>
                1
              </td>
              <td>
                .
              </td>
              <td>
                0
              </td>
              <td>
                1
              </td>
              <td>
                1
              </td>
              <td>
              </td>
            </tr>
          </tbody>
      </table>
      <table >
        <thead>
          <tr>
            <th class="integer">
              整数部
            </th>
            <th class="decimal">
              小数部
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="integer">
              2<span class="under-line">)13</span>
            </td>
            <td class="decimal">
              2 × 0.375 = 0.75
            </td>
          </tr>
          <tr>
            <td class="integer">
              2<span class="under-line">)&nbsp;6</span>・・・1
            </td>
            <td class="decimal">
              2 × 0.75 = 1.5
            </td>
          </tr>
          <tr>
            <td class="integer">
              2<span class="under-line">)&nbsp;3</span>・・・0
            </td>
            <td class="decimal">
              2 × 0.5 = 1.0
            </td>
          </tr>
          <tr>
            <td class="integer">
              2<span class="under-line">)&nbsp;1</span>・・・1
            </td>
            <td class="decimal">
            </td>
          </tr>
          <tr>
            <td class="integer">
              &nbsp;&nbsp;0・・・1
            </td>
            <td class="decimal">
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        基本情報技術者試験の過去問です。解いてみてください。<br><br>
        平成21年度 春期 午前 問2<br>
        <br>
        &nbsp;&nbsp;0000～4999のアドレスをもつ<a href="https://wa3.i-3-i.info/word11947.html">ハッシュ表</a>があり,
        レコードのキー値からアドレス<br>
        に変換するアルゴリズムとして<span class="under-line">基数変換表</span>を用いる。キー値が55550のときのアドレ<br>
        スはどれか。ここで,<span class="under-line">基数変換表</span>とは,キー値を11進数とみなし,10進数に変換し<br>
        た後,下4けたに対して0.5を乗じた結果（小数点以下は切捨て）をレコードのアド<br>
        レスとする。<br>
        <br>
        ア&nbsp;0260&nbsp;&nbsp;イ&nbsp;2525&nbsp;&nbsp;ウ&nbsp;2775&nbsp;&nbsp;エ&nbsp;4405
      </p>
      <div class="hidden_box">
        <label for="label1">解答・解説</label>
        <input type="checkbox" id="label1" />
        <div class="hidden_show">
          <p class="iconimg5 buruburusmlp">
            正解:ア<br>
            解説:キー値5550は桁ごとに11の累乗になっているにで、10進数に変換する。<br>
            <br>
            5&nbsp;×&nbsp;11<sup>4</sup>&nbsp;+&nbsp;5&nbsp;×&nbsp;11<sup>3</sup>&nbsp;+&nbsp;
            5&nbsp;×&nbsp;11<sup>2</sup>&nbsp;+&nbsp;5&nbsp;×&nbsp;11<sup>1</sup>&nbsp;+&nbsp;
            5&nbsp;×&nbsp;11<sup>0</sup><br>
            =&nbsp;(11<sup>3</sup>&nbsp;+&nbsp;11<sup>2</sup>&nbsp;+&nbsp;11&nbsp;+&nbsp;1)&nbsp;×&nbsp;55<br>
            =&nbsp;(1331&nbsp;+&nbsp;121&nbsp;+&nbsp;11&nbsp;+&nbsp;1)&nbsp;×&nbsp;55<br>
            =&nbsp;80520<br>
            <br>
            80520の下4けたに0.5を乗じれば0260になります。
          </p>
        </div>
      </div>
      <p>
        平成22年度 春期 午前 問1<br>
        <br>
        &nbsp;&nbsp;16進小数2A.4Cと等しいものはどれか。<br>
        <br>
        ア&nbsp;2<sup>5</sup>&nbsp;+&nbsp;2<sup>3</sup>&nbsp;+&nbsp;2<sup>1</sup>&nbsp;+&nbsp;2&nbsp;
        <sup>-2</sup>&nbsp;+&nbsp;2<sup>-5</sup>&nbsp;+&nbsp;2<sup>-6</sup>
        &nbsp;&nbsp;&nbsp;&nbsp;イ&nbsp;2<sup>5</sup>&nbsp;+&nbsp;2<sup>3</sup>&nbsp;+&nbsp;2<sup>1</sup>&nbsp;
        +&nbsp;2<sup>-1</sup>&nbsp;+&nbsp;2<sup>-4</sup>&nbsp;+&nbsp;2<sup>-5</sup><br>
        ウ&nbsp;2<sup>5</sup>&nbsp;+&nbsp;2<sup>4</sup>&nbsp;+&nbsp;2&nbsp;<sup>2</sup>&nbsp;+&nbsp;2<sup>-2</sup>
        &nbsp;+&nbsp;2<sup>-5</sup>&nbsp;+&nbsp;2<sup>-6</sup><br>
        エ&nbsp;2<sup>6</sup>&nbsp;+&nbsp;2<sup>4</sup>&nbsp;+&nbsp;2&nbsp;<sup>2</sup>&nbsp;+&nbsp;2<sup>-1</sup>
        &nbsp;+&nbsp;2<sup>-4</sup>&nbsp;+&nbsp;2<sup>-5</sup><br>
      </p>
      <div class="hidden_box">
        <label for="label2">解答・解説</label>
        <input type="checkbox" id="label2" />
        <div class="hidden_show">
          <p class="iconimg5 buruburusmlp">
            正解:ア<br>
            解説:まず16進小数2A.4Cを2進数に変換します。16進数の1桁が2進数の4桁分に対応する
            （1<sub>16</sub>→0001<sub>2</sub>、F<sub>16</sub>→1111<sub>2</sub>）ので、<br>
            <br>
            <br>
            0010&nbsp;1010&nbsp;0100&nbsp;1100<br>
            <br>
            <br>
            になります。乗数の数え方は、小数点の1つ左が2<sup>0</sup>、小数点の1つ右は2<sup>-1</sup>となるので、答え<br>
            は「ア」の2<sup>5</sup>&nbsp;+&nbsp;2<sup>3</sup>&nbsp;+&nbsp;2<sup>1</sup>&nbsp;+&nbsp;2<sup>-2</sup>
            &nbsp;+&nbsp;2<sup>-5</sup>&nbsp;+&nbsp;2<sup>-6</sup>となります。
          </p>
        </div>
      </div>
      <p>
        平成22年度 秋期 午前 問1<br>
        <br>
        &nbsp;&nbsp;16進小数3A.5Cを10進数の分数で表したものはどれか。<br>
        <br>
        ア&nbsp;2<sup>5</sup>&nbsp;+&nbsp;2<sup>3</sup>&nbsp;+&nbsp;2<sup>1</sup>&nbsp;+&nbsp;2&nbsp;
        <sup>-2</sup>&nbsp;+&nbsp;2<sup>-5</sup>&nbsp;+&nbsp;2<sup>-6</sup>
        &nbsp;&nbsp;&nbsp;&nbsp;イ&nbsp;2<sup>5</sup>&nbsp;+&nbsp;2<sup>3</sup>&nbsp;+&nbsp;2<sup>1</sup>&nbsp;
        +&nbsp;2<sup>-1</sup>&nbsp;+&nbsp;2<sup>-4</sup>&nbsp;+&nbsp;2<sup>-5</sup><br>
        ウ&nbsp;2<sup>5</sup>&nbsp;+&nbsp;2<sup>4</sup>&nbsp;+&nbsp;2&nbsp;<sup>2</sup>&nbsp;+&nbsp;2<sup>-2</sup>
        &nbsp;+&nbsp;2<sup>-5</sup>&nbsp;+&nbsp;2<sup>-6</sup>
        エ&nbsp;2<sup>6</sup>&nbsp;+&nbsp;2<sup>4</sup>&nbsp;+&nbsp;2&nbsp;<sup>2</sup>&nbsp;+&nbsp;2<sup>-1</sup>
        &nbsp;+&nbsp;2<sup>-4</sup>&nbsp;+&nbsp;2<sup>-5</sup><br>
      </p>
      <div class="hidden_box">
        <label for="label3">解答・解説</label>
        <input type="checkbox" id="label3" />
        <div class="hidden_show">
          <p class="iconimg5 buruburusmlp">
            正解:ア<br>
            解説:まず16進小数2A.4Cを2進数に変換します。16進数の1桁が2進数の4桁分に対応する
            （1<sub>16</sub>→0001<sub>2</sub>、F<sub>16</sub>→1111<sub>2</sub>）ので、<br>
            <br>
            <br>
            0010&nbsp;1010&nbsp;0100&nbsp;1100<br>
            <br>
            <br>
            になります。乗数の数え方は、小数点の1つ左が2<sup>0</sup>、小数点の1つ右は2<sup>-1</sup>となるので、答え<br>
            は「ア」の2<sup>5</sup>&nbsp;+&nbsp;2<sup>3</sup>&nbsp;+&nbsp;2<sup>1</sup>&nbsp;+&nbsp;2<sup>-2</sup>
            &nbsp;+&nbsp;2<sup>-5</sup>&nbsp;+&nbsp;2<sup>-6</sup>となります。
          </p>

        </div>
      </div>
      <p>
        平成24年度 春期 午前 問1<br>
        <br>
        &nbsp;&nbsp;次の10進小数のうち,8進数に変換したときに有限小数になるものはどれか。<br>
        <br>
        ア&nbsp;0.3
        &nbsp;&nbsp;&nbsp;&nbsp;イ&nbsp;0.4
        &nbsp;&nbsp;&nbsp;&nbsp;ウ&nbsp;0.5
        &nbsp;&nbsp;&nbsp;&nbsp;エ&nbsp;0.8
      </p>
      <div class="hidden_box">
        <label for="label4">解答・解説</label>
        <input type="checkbox" id="label4" />
        <div class="hidden_show">
          <p class="iconimg5 buruburusmlp">
            正解:ウ<br>
            解説:8進数の0.1は1/8。10進数の小数に直すと0.125。選択肢の「0.5」は8進数に変換すると0.4になる。
          </p>
        </div>
      </div>
      <p>
        平成24年度 秋期 午前 問1<br>
        <br>
        &nbsp;&nbsp;8ビットの2進数11010000を右に2ビット算術シフトしたものを,00010100から<br>
        減じた値はどれか。ここで,負の数は2の補数表現によるものとする。
        <br>
        ア&nbsp;00001000
        &nbsp;&nbsp;&nbsp;&nbsp;イ&nbsp;00011111
        &nbsp;&nbsp;&nbsp;&nbsp;ウ&nbsp;00100000
        &nbsp;&nbsp;&nbsp;&nbsp;エ&nbsp;11100000
      </p>
      <div class="hidden_box">
        <label for="label5">解答・解説</label>
        <input type="checkbox" id="label5" />
        <div class="hidden_show">
          <p class="iconimg5 buruburusmlp">
            正解:ウ<br>
            解説:2進数11010000を右に2ビット算術シフトすれば、11110100。<br>
            その2の補数は00001100。<br>
            00010100&nbsp;+&nbsp;00001100&nbsp;=&nbsp;00100000
          </p>
        </div>
      </div>
      <p>
        平成26年度 秋期 午前 問1<br>
        <br>
        &nbsp;&nbsp;10進数の分数1/32を16進数の小数で表したものはどれか。<br>
        <br>
        ア&nbsp;0.01
        &nbsp;&nbsp;&nbsp;&nbsp;イ&nbsp;0.02
        &nbsp;&nbsp;&nbsp;&nbsp;ウ&nbsp;0.05
        &nbsp;&nbsp;&nbsp;&nbsp;エ&nbsp;0.08
      </p>
      <div class="hidden_box">
        <label for="label6">解答・解説</label>
        <input type="checkbox" id="label6" />
        <div class="hidden_show">
          <p class="iconimg6 buruburusmlp">
            正解:エ<br>
            解説:1/32の分母を16進小数の小数点第2位の1/256と通分すると8/256になるので、<br>
            小数点第2位を8にした0.08が正解となる。
          </p>
        </div>
      </div>
    <div th:replace="./commons/footer.html::footer"></div>
    <!--</footer>-->
    <script type="text/javascript" th:src="@{./js/script.js}"></script>
  </div>

</body>
</html>